@inherits LayoutComponentBase
@using Icons = Microsoft.FluentUI.AspNetCore.Components.Icons

<FluentLayout>
    <FluentLayoutItem Area="LayoutArea.Header">
        <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
            <FluentLayoutHamburger />
            <span style="font-weight: 600; margin-left: 0.5rem;">BillDrift</span>
        </FluentStack>
    </FluentLayoutItem>

    <FluentLayoutItem Area="LayoutArea.Navigation">
        <FluentNav>
            <FluentNavItem Href="/" Icon="@(new Icons.Regular.Size20.Home())">
                Home
            </FluentNavItem>
            <FluentNavItem Href="/reconciliation" Icon="@(new Icons.Regular.Size20.ArrowSync())">
                Reconciliation
            </FluentNavItem>
            <FluentNavItem Href="/approvals" Icon="@(new Icons.Regular.Size20.CheckmarkCircle())">
                Approvals
            </FluentNavItem>
            <FluentNavItem Href="/history" Icon="@(new Icons.Regular.Size20.History())">
                Run History
            </FluentNavItem>
        </FluentNav>
    </FluentLayoutItem>

    <FluentLayoutItem Area="LayoutArea.Content">
        @Body
    </FluentLayoutItem>
</FluentLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
